
body {
  margin: 0px;
  padding: 0px;
  background: #f5f5f5;
  font-weight: 500;
}

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}
ul.resp-tabs-list {
    float: left;
    margin-top: 10px;
}
.resp-tabs-list li {
    display: block;
    padding: 23px 20px;
    margin: 0;
    border-bottom: 1px solid #fbfbfb;
    list-style: none;
    cursor: pointer;
    float: none;
    color: #fff;
    width:360px;
    background: #d93025;
    font-size: 20px;
    text-align:left;
}

.resp-tabs-container {
    padding: 0px!important;
    background-color: #fff;
    /* clear: left; */
    width: 67%;
    float: right;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
}

.resp-tab-active {
    /* border: 1px solid #c1c1c1; */
    /* border-right: 4px solid #bc0023; */
    /* margin-bottom: -1px !important; */
    /* padding: 12px 14px 14px 14px !important; */
    position: relative;
}
.resp-tab-active:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    border-top: 15px solid #d93025;
    border-left: 15px solid rgba(69, 42, 21, 0);
    border-right: 11px solid rgba(199, 57, 57, 0);
    left: 98%;
    top: 44%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.resp-tab-active {
  /*border-bottom: none;*/
  background-color: rgba(28, 160, 222, 0.13);
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content {
    /* border: 1px solid #1ca0de; */
    border-top: transparent;
    /*min-height: 405px;*/
}

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #fff !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}
.resp-tabs-list li i{
padding-right:0.5em;
  
}
.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #1c2020;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom:12px solid #e54945;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #ffffff !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}

@media only screen and (max-width:1080px) {
	.resp-tabs-container {
		width: 60%;
		float: right;
	}
}
@media only screen and (max-width:991px) {
	.resp-tabs-container {
		width: 50%;
		float: right;
	}
}
@media only screen and (max-width:768px) {
	.resp-tabs-container {
		width: 100%;
		float: right;
	}
	h2.resp-accordion {
		font-size: 18px;
		border: 1px solid #c1c1c1;
		border-top: 0px solid #c1c1c1;
		margin: 0px;
		padding: 19px 15px;
	}
	.resp-tab-active:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		border-top: 15px solid #ffffff;
		border-left: 15px solid rgba(69, 42, 21, 0);
		border-right: 11px solid rgba(199, 57, 57, 0);
		left: 65%;
		top: 44%;
	}
}
@media only screen and (max-width: 568px) {
	.resp-arrow {
		margin-top: 8px;
		border-top: 9px solid #1c2020;
	}
	h2.resp-tab-active span.resp-arrow {
		border-bottom: 9px solid #e54945;
	}
}
@media only screen and (max-width: 384px) {
	.resp-arrow {
		margin-top: 7px;
		border-top: 8px solid #1c2020;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
	h2.resp-tab-active span.resp-arrow {
		border-bottom: 8px solid #e54945;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
}