/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@font-face {
  font-family: 'KristenITC-Regular';

  src: url('../fonts/KristenITC-Regular.woff2') format('woff2'), url('../fonts/KristenITC-Regular.woff') format('woff');
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #fff;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Limelight', cursive;
}

p {
	margin: 0;
}

ul,
label {
	margin: 0;
	padding: 0;
}

body a:hover,
body a:focus {
	text-decoration: none;
	outline: none;
}


/*-- banner --*/

.agileits-banner {
	background: url(../images/temp/a.jpg)no-repeat center 0px;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
	position: relative;
}
.display-none{display:none;}
.bnr-agileinfo {
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
	background-color: rgba(0, 0, 0, 0.15);
}


/*-- banner-top --*/

.banner-top {
	padding: 3em 0;
}

.banner-top p {
	color: #fff;
	font-size: 1em;
	text-align: center;
	letter-spacing: 5px;
}

.banner-top p span.glyphicon {
	margin-right: 5px;
}

.agile_inner_nav_w3ls {
	width: 89%;
	margin: 0 auto;
}


/*-- //banner-top --*/


/*-- banner-w3text --*/

.banner-w3text {
	padding: 9em 0 11em;
	text-align: center;
}

.banner-w3text h6 {
	font-size: 1em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 10px;
	margin-bottom: 3em;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
}

.banner-w3text h6:after {
	content: '';
	width: 25%;
	height: 2px;
	background: #d93025;
	text-align: center;
	display: block;
	margin: 2em auto 0;
}

.banner-w3text h2 {
	font-size: 8em;
	color: #fff;
	letter-spacing: 15px;
}

.banner-w3text p {
	font-size: 1em;
	color: #d93025;
	letter-spacing: 6px;
	margin-bottom: 2em;
	text-transform: uppercase;
	font-weight: 600;
}


/*-- //banner-w3text --*/


/*-- logo --*/

.w3llogo h1 a {
	display: inline-block;
	color: #d93025;
	letter-spacing: 2px;
}


/*-- //logo --*/


/*-- top-nav --*/

.w3menu.navbar-left {
	margin-left: 12em;
	    margin-top: 1em;
}

.top-nav {
	z-index: 999;
	background: rgba(6, 6, 6, 0.47);
	padding: 1em 0;
}

nav.navbar.navbar-default {
	background-color: inherit;
	border: none;
	margin: 0;
}

ul.nav.navbar {
	text-align: center;
	margin: 0;
	min-height: inherit;
}

.top-nav ul li {
	margin: 0 0 0 1em;
	display: inline-block;
}

.top-nav ul li:nth-child(1) {
	margin: 0;
}


/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */

.top-nav ul li a {
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 1.1em;
	color: #fff;
	position: relative;
	font-weight: 400;
	padding: .5em 1.1em;
	display: inline-block;
	border-radius: 2px;
}

.nav>li>a:hover,
.nav>li>a:focus {
	background: none;
}

.top-nav ul li a:hover,
.top-nav ul li a.active {
	background: #d93025;
}

.top-nav .open>.dropdown-menu {
	display: block;
	background: #0a0a0a;
	text-align: left;
	margin-top: 1.1em;
}

.top-nav .open>.dropdown-menu li {
	margin: 0;
	display: block;
}

.top-nav .open>.dropdown-menu li a {
	display: block;
	color: #fff;
	font-size: .9em;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background-color: #d93025;
	border: none;
}


/*-- //top-nav --*/

h3.w3ls_agile {
	line-height: 1.7em;
	letter-spacing: 12px;
	color: #fff;
	font-size:32px;
	text-shadow: 2px 2px 2px #212121;
	font-weight: 300;
	margin-bottom: 0.5em;
	font-family: 'Roboto', sans-serif;
}


/*-- registration --*/

ul.agile_top_section a.sign {
	background: #d93025;
	color: #fff;
	font-size: 0.9em;
	padding: 8px 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 2px;
}

.signin-form {
	padding: 0em 1em 1em 1em;
	text-align: center;
}

.signin-form h3,
h3.agileinfo_sign {
	font-size: 2.5em;
	color: #212121;
	margin: 1em 0 0.8em 0;
	letter-spacing: 1px;
}

h3.agileinfo_sign {
	text-align: center;
}

.signin-form h3 span {
	color: #67e1ff;
}

.signin-form img {
	border-radius: 50%;
}

.login-form {
	margin: 1em 0 2.5em;
}

.signin-form input[type="email"],
.signin-form input[type="text"],
.signin-form input[type="password"],
.signin-form textarea {
	width: 100%;
	padding: 1em 1em 1em 1em;
	font-size: 0.8em;
	margin: 0.5em 0;
	outline: none;
	color: #212121;
	border: none;
	border: 1px solid #ccc;
	letter-spacing: 1px;
	text-align: center;
}

.signin-form input[type="email"] {
	background: none;
	display: block;
}

.signin-form input[type="text"] {
	background: none;
	display: block;
}

.signin-form input[type="password"] {
	background: none;
	display: block;
}

.signin-form ::-webkit-input-placeholder {
	color: #212121 !important;
}

.signin-form ::-webkit-textarea-placeholder {
	color: #212121 !important;
}

.signin-form textarea {
	min-height: 100px;
}

.signin-form input[type="submit"] {
	outline: none;
	padding: 0.8em 0;
	width: 100%;
	text-align: center;
	font-size: 1em;
	margin-top: 1em;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
	background: #d93025;
	box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
}

.signin-form input[type="submit"]:hover {
	color: #fff;
	background: #000;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}

.signin-form p a {
	font-size: 0.875em;
	color: #212121;
	letter-spacing: 1px;
}

.login-social-grids {
	margin: 1em 0;
}

.login-social-grids ul {
	padding: 0;
	margin: 0;
}

.login-social-grids ul li {
	display: inline-block;
	margin: 0 .5em 0 0;
}

.login-social-grids ul li a {
	color: #FFFFFF;
	text-align: center;
}

.login-social-grids ul li a i.fa.fa-facebook,
.login-social-grids ul li a i.fa.fa-twitter,
.login-social-grids ul li a i.fa.fa-rss {
	height: 30px;
	width: 30px;
	border: solid 2px #212121;
	line-height: 29px;
	background: none;
	color: #212121;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background: #3b5998;
	color: #FFFFFF;
}

.login-social-grids ul li a i.fa.fa-twitter:hover {
	border: solid 2px #55acee;
	background: #55acee;
	color: #FFFFFF;
}

.login-social-grids ul li a i.fa.fa-rss:hover {
	border: solid 2px #f26522;
	background: #f26522;
	color: #FFFFFF;
}

.modal-header .close {
	float: right!important;
}

.form-control:focus {
	border: 1px solid #ccc;
	outline: 0;
	box-shadow: none!important;
}


/*-- //registration --*/


/*-- bootstrap-pop-up --*/

.modal-header {
	border-bottom: none;
}

.close {
	opacity: 1;
}

.modal-body p {
	color: #555;
	text-align: left;
	padding: 2em 1em;
	margin: 0 !important;
	line-height: 2em;
}

.modal-body p i {
	display: block;
	margin: 2em 0 0;
	color: #212121;
}

.modal-body {
	padding: 0;
}

.modal-content {
	border-radius: 0;
}

button.close {
	font-size: 1em;
	color: #016065;
	outline: none;
}

.w3_modal_body_left {
	padding-left: 0;
}

ul.agile_top_section li {
	display: inline-block;
	width: 33%;
	text-align: center;
	list-style: none;
}


/*-- //bootstrap-pop-up --*/


/*-- social-icons --*/

.w3ls-bnr-icons.social-icon {
	margin-top: 0.4em;
	    margin-top: 1em;
}

.social-icon a {
	font-size: 0.9em;
	color: #fff;
	margin: 0 .5em;
	border: 1px solid transparent;
	width: 30px;
	height: 28px;
	display: inline-block;
	text-align: center;
	line-height: 2.4em;
	position: relative;
	z-index: 999;
}

.social-icon a:before {
	content: '';
	display: block;
	height: 28px;
	width: 28px;
	border: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	position: absolute;
	z-index: -1;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

.social-icon a:hover {
	color: #d93025;
}

.social-icon a:hover:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-color: #d93025;
}


/*-- //social-icons --*/


/*-- welcome--*/

.welcome,
.about,
.team,
.gallery,
.contact,
.services,
.codes {
	padding: 5em 0;
}

p {
	font-size: 1em;
	color: #555;
	line-height: 1.9em;
	font-weight: 300;
	letter-spacing: 1px;
}

.w3welcome-img {
	background: url(../images/home1.jpg)no-repeat center 0px;
	background-size: cover;
	min-height: 30em;
	padding: 0;
}

.w3welcome-text {
	padding: 8em 2em 2em 2em;
}

.welcome-w3lsrow {
	background: #151414;
	padding: 0em;
}

h5.w3l-subtitle {
	font-size: 3em;
	color: #fff;
	margin-bottom: 0.3em;
}

.welcome-w3lsrow2 {
	margin-top: 3em;
}


/*-- team --*/

.team {
	background: url(../images/temp/2.jpg) no-repeat 0px 0px;
	background-size: cover;
}


/* entire container, keeps perspective */

.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}


/*  UPDATED! flip the pane when hovered */

.flip-container:hover .back {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}

.flip-container:hover .front {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.flip-container,
.back {
	width: 100%;
	height: 383px;
}


/* flip speed goes here */

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


/* hide back of pane during swap */

.front,
.back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}


/*  UPDATED! front pane, placed above back */

.front {
	z-index: 2;
	background: #000;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
}

.front img {
	width: 100%;
}


/* back, initially hidden pane */

.back {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	background: #d93025;
	padding: 8em 2em 0;
	text-align: center;
}


/* 
	Some vertical flip updates 
*/

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}

.back h4 {
	color: #fff;
	font-size: 1.4em;
	letter-spacing: 2px;
	margin: 0;
}

.back p {
	font-size: .9em;
	margin-top: 1em;
	color: #fff;
	letter-spacing: 2px;
}

.w3l-social {
	margin: 1em 0 0 0;
}

.w3l-social ul {
	padding: 0;
	margin: 0;
}

.w3l-social ul li {
	display: inline-block;
}

.w3l-social ul li a {
	color: #333;
	text-align: center;
}

.w3l-social ul li a i.fa.fa-facebook {
	height: 40px;
	width: 40px;
	background: #FFFFFF;
	line-height: 40px;
	color: #383838;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.w3l-social ul li a i.fa.fa-facebook:hover {
	background: #3b5998;
	color: #FFFFFF;
}

.w3l-social ul li a i.fa.fa-twitter {
	height: 40px;
	width: 40px;
	background: #FFFFFF;
	line-height: 40px;
	color: #383838;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.w3l-social ul li a i.fa.fa-twitter:hover {
	background: #1da1f2;
	color: #FFFFFF;
}

.w3l-social ul li a i.fa.fa-rss {
	height: 40px;
	width: 40px;
	background: #FFFFFF;
	line-height: 40px;
	color: #383838;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.w3l-social ul li a i.fa.fa-rss:hover {
	background: #f26522;
	color: #FFFFFF;
}


/*-- //team --*/


/*-- //welcome--*/


/*-- services--*/

h3.agileits-title {
	font-size: 3em;
	color: #333;
	text-align: center;
	letter-spacing: 4px;
	line-height: 1.6em;
}

h3.agileits-title.two {
	color: #fff;
}

h3.agileits-title span {
	color: #d93025;
}

.services-img-w3-agile {
	background: url(../images/temp/about.jpg) no-repeat 0px 0px;
}

.a1 {
	background: url(../images/temp/about1.jpg) no-repeat 0px 0px;
}

.a2 {
	background: url(../images/temp/about2.jpg) no-repeat 0px 0px;
}

.services-img-w3-agile,
.a1,
.a2 {
	min-height: 376px;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
}


/*-- skills --*/

.services-right-agileits {
	padding: 1.9em;
}

.progress {
	height: 20px;
	margin-bottom: 1.4em;
	background-color: #848281;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

.prgs-w3agile-last {
	margin-bottom: 0!important;
}

.progress-bar {
	background-color: rgb(14, 14, 14);
}

.bar-grids h6 {
	font-size: 1em;
	color: #d93025;
	margin-bottom: 0.6em;
	font-weight: 300;
	letter-spacing: 2px;
}

.bar-grids h6 span {
	float: right;
	font-size: 0.9em;
}


/*-- //skills --*/


/*-- //w3-agilesale--*/

.agileits-icon-grid {
	padding: 1.5em 1em;
	box-shadow: 0 0px 1px rgb(247, 244, 244), 0 1px 2px rgba(236, 236, 236, 0.24);
}

.icon-left {
	float: left;
	width: 60px;
	height: 60px;
	text-align: center;
	padding: 1.2em 0 0 0;
	margin-right: 1em;
	background: #d93025;
}

.icon-left i.fa {
	color: #FFFFFF;
	font-size: 2em;
}

.icon-right {
	float: left;
	width: 70%;
}

.icon-right h5 {
	color: #fff;
	font-size: 1.4em;
	margin: 0;
	letter-spacing: 1px;
}

.icon-right p {
	font-size: 0.9em;
	line-height: 1.8em;
	color: #c6c5c5;
	margin: 1em 0;
	letter-spacing: 2px;
}

.w3ls-markets-grid:nth-child(4),
.w3ls-markets-grid:nth-child(5),
.w3ls-markets-grid:nth-child(6) {
	margin: 2em 0 0 0;
}

.markets-grids,
.contact-agileinfo {
	margin-top: 3em;
}

#services {
	background: url(../images/temp/a1.jpg) no-repeat;
	background-size: cover;
	min-height: 630px;
	padding-top: 6em;
}

.services-right-agileits h4 {
	color: #000;
	font-size: 1.6em;
	margin: 0;
	letter-spacing: 1px;
	margin-bottom: 1em;
}

.top_tabs_agile {
	margin-top: 2em;
}


/*-- //sevices --*/


/*-- subscribe --*/

.subscribe {
	text-align: center;
	background: #292929;
	padding: 4em 0;
}

.subscribe h4 {
	font-size: 2.8em;
	color: #fff;
	font-weight: 300;
}

.subscribe form {
	width: 50%;
	margin: 3em auto 2em;
}

.subscribe input[type="email"] {
	width: 75%;
	padding: .8em 1em;
	font-size: 1em;
	float: left;
	color: #fff;
	outline: none;
	border: 1px solid #fff;
	border-right: none;
	background: none;
	-webkit-appearance: none;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	transition: 0.5s all;
	letter-spacing: 1px;
}

.subscribe input[type="submit"] {
	float: left;
	color: #d93025;
	font-size: 1em;
	outline: none;
	padding: .8em 2em;
	border: 1px solid #fff;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	transition: 0.5s all;
	-webkit-appearance: none;
	background: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}

.subscribe form:hover input[type="email"] {
	border-color: #d93025;
}

.subscribe form:hover input[type="submit"] {
	border-color: #d93025;
	background: #d93025;
	color: #fff;
}

.subscribe p {
	width: 45%;
	margin: 0.5em auto 0;
	color: #fff;
}

.subscribe p a {
	color: #9d66ff;
}

.subscribe p a:hover {
	color: #fff;
}


/*-- //subscribe --*/

.w3-agilesale.welcome {
	text-align: center;
	background: url(../images/temp/bg1.jpg)no-repeat center 0px;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
}


/*-- copy-w3right --*/

.top-nav.bottom-w3lnav {
	background: none;
	border-bottom: 1px solid #404040;
	margin-bottom: 2em;
	padding-bottom: 2em;
}

.copy-w3right {
	background: #191919;
	padding: 1.5em 0;
	text-align: center;
}

.copy-w3right p {
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}

.copy-w3right p a {
	color: #d93025;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	transition: 0.5s all;
}

.copy-w3right p a:hover {
	color: #fff;
}


/*-- //copy-w3right --*/


/*-- slider-up-arrow --*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 6%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/temp/move-up.png") no-repeat 0px 0px;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-o-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

#toTop:hover {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	transform: scale(1);
}


/*-- //slider-up-arrow --*/


/*-- about --*/

.agileits-banner.about-w3banner .banner-w3text {
	padding: 0em 0 2em;
}

.about h4 {
	font-size: 2em;
	color: #d93025;
	line-height: 1.5em;
	letter-spacing: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}



.about-w3left ul li {
	display: block;
	font-size: 1em;
	color: #999;
	margin-top: 1em;
}

.about-w3left ul li span.glyphicon {
	padding-right: 6px;
}

.about-w3right img {
	width: 100%;
}


/*-- button style --*/

.button {
	display: inline-block;
	margin-top: 1.5em;
	padding: 0.6em 1.5em;
	background: none;
	color: #d93025;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	border: 1px solid #d93025;
	overflow: hidden;
	font-size: 1em;
	-webkit-transition: .6s all;
	-moz-transition: .6s all;
	transition: .6s all;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	transition-delay: .3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button:focus {
	outline: none;
}


/* Isi */

.button-isi::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 100%;
	margin: -15px 0 0 1px;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #d93025;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: scale3d(1, 2, 1);
	-moz-transform: scale3d(1, 2, 1);
	-o-transform: scale3d(1, 2, 1);
	-ms-transform: scale3d(1, 2, 1);
	transform: scale3d(1, 2, 1);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
	-moz-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}

.button-isi .icon {
	vertical-align: middle;
	top: -1px;
	font-size: .8em;
}

.button-isi>span {
	padding-right: 0.8em;
}

.button:hover {
	color: #fff;
	border-color: #d93025;
}

.button-isi:hover::before {
	-webkit-transform: scale3d(9, 9, 1);
	-moz-transform: scale3d(9, 9, 1);
	-o-transform: scale3d(9, 9, 1);
	-ms-transform: scale3d(9, 9, 1);
	transform: scale3d(9, 9, 1);
}


/*-- //button style --*/


/*-- //about --*/


/*-- gallery --*/

.w3gallery-grids {
	padding: 1em;
}


/*-- imghvr-hinge --*/

[class^='imghvr-'],
[class*=' imghvr-'] {
	position: relative;
	display: inline-block;
	margin: 0px;
	max-width: 100%;
	background-color: #d93025;
	color: #212121;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	cursor: pointer;
}

[class^='imghvr-']>img,
[class*=' imghvr-']>img {
	vertical-align: top;
	max-width: 100%;
}

[class^='imghvr-'] .agile-figcaption,
[class*=' imghvr-'] .agile-figcaption {
	background-color: #d93025;
	padding: 4.5em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #212121;
	text-align: center;
}

[class^='imghvr-'] .agile-figcaption h4 {
	font-size: 2em;
	margin-bottom: .5em;
}

[class^='imghvr-'] .agile-figcaption p {
	line-height: 2em;
	color: #fff;
	letter-spacing: 2px;
}

[class^='imghvr-'] a,
[class*=' imghvr-'] a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

[class^='imghvr-hinge-'],
[class*=' imghvr-hinge-'] {
	-webkit-perspective: 50em;
	perspective: 50em;
}

[class^='imghvr-hinge-'] .agile-figcaption,
[class*=' imghvr-hinge-'] .agile-figcaption {
	opacity: 0;
	z-index: 1;
}

[class^='imghvr-hinge-']:hover img,
[class*=' imghvr-hinge-']:hover img {
	opacity: 0;
}

[class^='imghvr-hinge-']:hover .agile-figcaption,
[class*=' imghvr-hinge-']:hover .agile-figcaption {
	opacity: 1;
	-webkit-transition-delay: 0.21s;
	-moz-transition-delay: 0.21s;
	-o-transition-delay: 0.21s;
	-ms-transition-delay: 0.21s;
	transition-delay: 0.21s;
}


/*-- imghvr-hinge-right -- */

.imghvr-hinge-right img {
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.imghvr-hinge-right .agile-figcaption {
	-webkit-transform: rotateY(90deg);
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform: rotateY(90deg);
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.imghvr-hinge-right:hover>img {
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}

.imghvr-hinge-right:hover .agile-figcaption {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}


/*-- //imghvr-hinge --*/


/*-- //gallery --*/


/*-- contact --*/

.address.address-mdl {
	margin: 2em 0;
}

.address h5 {
	font-size: 1.2em;
}

.address p {
	margin-top: 1em;
}

.address p i.glyphicon {
	color: #d93025;
	margin-right: 0.5em;
}

.address p a {
	color: #999;
}

.address p a:hover {
	color: #d93025;
}

.contact-agileinfo input[type="text"] {
	width: 100%;
	color: #999;
	background: none;
	outline: none;
	font-size: 1em;
	padding: .7em .8em;
	border: solid 1px #ccc;
	-webkit-appearance: none;
	display: inline-block;
}

input.email {
	margin: 1em 0;
}

.contact-agileinfo textarea {
	resize: none;
	width: 100%;
	background: none;
	color: #999;
	font-size: 1em;
	outline: none;
	padding: .7em .8em;
	border: solid 1px #ccc;
	min-height: 10em;
	-webkit-appearance: none;
	margin-top: 1em;
}

.contact-agileinfo input[type="submit"] {
	border: none;
	outline: 2px solid #d93025;
	color: #fff;
	padding: .6em 3em;
	font-size: 1em;
	margin: 1em 1em 0 0;
	-webkit-appearance: none;
	background: #d93025;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.contact-agileinfo input[type="submit"]:hover {
	background: none;
	color: #d93025;
	letter-spacing: 2px;
}

.agileits-w3layouts-map iframe {
	width: 100%;
	min-height: 350px;
	border: none;
}


/*-- //contact --*/


/*-- pages --*/

.well {
	font-weight: 300;
	font-size: 14px;
}

.list-group-item {
	font-weight: 300;
	font-size: 14px;
}

li.list-group-item1 {
	font-size: 14px;
	font-weight: 300;
}

.typo p {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}

.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}

.grid_3 {
	margin-bottom: 3em;
}

.xs h3,
h3.m_1 {
	color: #000;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}

.grid_3 p {
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}

.grid_4 {
	background: none;
}

.label {
	font-weight: 300 !important;
	border-radius: 4px;
}

.grid_5 {
	background: none;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.w3ls-hdg,
h3.bars {
	margin-bottom: 1em;
	color: #333;
	font-weight: bold;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	z-index: 0;
}

.badge-primary {
	background-color: #03a9f4;
}

.badge-success {
	background-color: #8bc34a;
}

.badge-warning {
	background-color: #ffc107;
}

.badge-danger {
	background-color: #e51c23;
}

.grid_3 p {
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}

.bs-docs-example {
	margin: 1em 0;
}

section#tables p {
	margin-top: 1em;
}

.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 15px!important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.label {
	font-weight: 300 !important;
}

.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}

.alert {
	font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
	line-height: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.list-group-item1 {
	line-height: 2.5em;
}

.input-group {
	margin-bottom: 20px;
}

.in-gp-tl {
	padding: 0;
}

.in-gp-tb {
	padding-right: 0;
}

.list-group {
	margin-bottom: 48px;
}

ol {
	margin-bottom: 44px;
}

h2.typoh2 {
	margin: 0 0 10px;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.label {
	font-weight: 300 !important;
}

.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}

.nav-tabs {
	margin-bottom: 1em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
	line-height: 1.8em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.list-group-item1 {
	line-height: 2.5em;
}

.input-group {
	margin-bottom: 20px;
}

.codes .row {
	margin: 0;
}

.in-gp-tl {
	padding: 0;
}

.in-gp-tb {
	padding-right: 0;
}

.list-group {
	margin-bottom: 48px;
}

ol {
	margin-bottom: 44px;
}

h2.typoh2 {
	margin: 0 0 10px;
}

.form-control1,
.form-control_2.input-sm {
	border: 1px solid #e0e0e0;
	padding: 5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline: none;
}

.control3 {
	margin: 0 0 1em 0;
}

.codes label {
	font-weight: 400;
}


/*-- icons --*/

.codes a {
	color: #999;
}

.icon-box {
	padding: 8px 15px;
	background: rgba(149, 149, 149, 0.18);
	margin: 1em 0 1em 0;
	border: 5px solid #ffffff;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	cursor: pointer;
}

.icon-box:hover {
	background: #5f5f5f;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
	color: #fff !important;
}

.icon-box:hover a.agile-icon {
	color: #fff !important;
}

.codes .bs-glyphicons li {
	float: left;
	width: 12.5%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}

.codes .glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

h3.icon-subheading {
	font-size: 28px;
	color: #000 !important;
	margin: 30px 0 15px;
}

.agileits-icons-title {
	text-align: center;
	font-size: 36px;
	color: #ef2e46;
	font-weight: 300;
}

.icons a {
	color: #999;
}

.icon-box i {
	margin-right: 10px !important;
	font-size: 20px !important;
	color: #282a2b !important;
}

.icons .bs-glyphicons li {
	float: left;
	width: 18%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
	background: rgba(149, 149, 149, 0.18);
	margin: 1%;
}

.icons .bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	color: #282a2b;
}

.icons .glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.icons .bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}


/*-- //icons --*/

.tab-content>.active {
	display: block;
	visibility: visible;
}

.label {
	font-weight: 300 !important;
}

.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
	line-height: 1.8em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.list-group-item1 {
	line-height: 2.5em;
}

.input-group {
	margin-bottom: 20px;
}

.codes .row {
	margin: 0;
}

.in-gp-tl {
	padding: 0;
}

.in-gp-tb {
	padding-right: 0;
}

.list-group {
	margin-bottom: 48px;
}

ol {
	margin-bottom: 44px;
}

h2.typoh2 {
	margin: 0 0 10px;
}

.form-control1,
.form-control_2.input-sm {
	border: 1px solid #e0e0e0;
	padding: 5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline: none;
}

.control3 {
	margin: 0 0 1em 0;
}

.codes label {
	font-weight: 400;
}

@media (max-width:1080px) {
	.icon-box {
		padding: 8px 9px;
	}
}

@media (max-width:768px) {
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}

@media (max-width:640px) {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3,
	.grid_5 h2,
	.grid_5 h1,
	.grid_5 h4,
	.grid_5 h5,
	h3.hdg,
	h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,
	.grid_3 p,
	ul.list-group li,
	li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}

@media (max-width:480px) {
	h3.w3ls-hdg {
		font-size: 1.6em;
		margin: 1em 0 0.6em;
	}
	.grid_5 h3,
	.grid_5 h2,
	.grid_5 h1,
	.grid_5 h4,
	.grid_5 h5,
	h3.hdg,
	h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.codes .alert {
		font-size: 0.9em;
		padding: 10px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
	.agileits-icons-title {
		font-size: 30px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icons .bs-glyphicons li {
		width: 31%;
	}
}

@media (max-width: 320px) {
	.alert,
	ol.breadcrumb li,
	.grid_3 p,
	.well,
	ul.list-group li,
	li.list-group-item1,
	a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 1em;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table>thead>tr>th,
	.table>tbody>tr>th,
	.table>tfoot>tr>th,
	.table>thead>tr>td,
	.table>tbody>tr>td,
	.table>tfoot>tr>td {
		font-size: 0.81em;
	}
	.table td,
	.table>tbody>tr>td,
	.table>tbody>tr>th,
	.table>tfoot>tr>td,
	.table>tfoot>tr>th,
	.table>thead>tr>td,
	.table>thead>tr>th {
		padding: 13px!important;
	}
	.codes .row {
		margin: 0;
	}
	.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 18px;
		margin: 21px 0 12px;
	}
}


/*-- //pages --*/


/*-- single --*/

.w3ls_single_left_grid_right h3 {
	font-size: 1.5em;
	color: #d93025;
	line-height: 1.5em;
	text-transform: capitalize;
	margin: 0 0 0.5em;
}

.w3ls_single_left_grid_right h5 {
	font-size: 1em;
	color: #555;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #dcdcdc;
	letter-spacing: 6px;
}

.w3ls_single_left_grid_right ul li {
	display: inline-block;
	margin-right: 1.5em;
	font-size: 14px;
}

.w3ls_single_left_grid_right ul li span {
	padding-right: 1em;
	color: #555;
}

.w3ls_single_left_grid_right ul li a {
	color: #555;
	text-decoration: none;
}

.w3ls_single_left_grid_right ul li a:hover {
	color: #d93025;
}

.w3ls_single_left_grid1 {
	margin: 3em 0;
}

.w3ls_single_left_grid1 p {
	margin: 2em 0;
	color: #555;
	line-height: 2em;
}

.w3ls_single_left_grid1 p span {
	display: block;
	margin: 1em 0 0;
}

.w3ls_single_left_grid1_left {
	float: left;
}

.w3ls_single_left_grid1_left h4 {
	color: #d93025;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-top: .8em;
}

.w3ls_single_left_grid1_right {
	float: left;
	margin-left: 2em;
}

.w3ls_single_left_grid1_right .social-icon a {
	color: #555;
}

.w3ls_single_left_grid1_right .social-icon a:before {
	border-color: #555;
}

.w3ls_single_left_grid1_right .social-icon a:hover {
	color: #d93025;
}

.w3ls_single_left_grid1_right .social-icon a:hover:before {
	border-color: #d93025;
}

.w3l_admin {
	padding: 2em;
	background: #292929;
	margin: 3em 0 0;
}

.w3l_admin p {
	color: #f5f5f5;
	line-height: 1.8em;
	position: relative;
	padding-left: 3.5em;
	margin-bottom: 1em;
}

.w3l_admin p i.fa.fa-quote-left {
	margin-left: -3em;
	margin-right: 2em;
}

.w3l_admin a {
	display: block;
	text-align: right;
	color: #d93025;
	font-size: 1em;
	text-decoration: none;
}

.w3l_admin a:hover {
	color: #fff;
}

.wthree_recent h4,
.agileits_three_comments h3,
.w3_leave_comment h3 {
	font-size: 2em;
	color: #d93025;
	margin: 0;
	text-transform: capitalize;
}

.wthree_recent ul {
	padding: 2em 0 0;
}

.wthree_recent ul li {
	list-style-type: none;
	font-size: 1em;
	color: #999;
	padding: 1em 0;
	border-bottom: 1px dashed #C1C1C1;
	text-transform: capitalize;
}

.wthree_recent ul li a {
	color: #555;
	text-decoration: none;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

.wthree_recent ul li a:hover {
	color: #212121;
}

.wthree_recent ul li span {
	display: block;
	font-size: 13px;
	padding-left: 3.5em;
	color: #d93025;
	margin: .5em 0 0;
}

.wthree_recent ul li span i {
	left: -1em;
}

.wthree_recent ul li a i {
	padding-right: 1em;
}

.wthree_recent ul li:last-child {
	border-bottom: none;
}

.agile_tags_cate {
	padding: 3em 0;
	border-top: 1px dashed #adadad;
	border-bottom: 1px dashed #adadad;
	margin: 5em 0;
}

.agile_cat_grid {
	text-align: center;
}

.agile_cat_grid h4 {
	color: #333;
	font-size: 2em;
	margin: 0;
}

.agile_cat_grid h4 span {
	font-size: 1.5em;
	color: #d93025;
}

.agile_cat_grid ul {
	padding: 2em 0 0;
}

.agile_cat_grid ul.categories li {
	list-style-type: none;
	margin-top: 1em;
	font-size: 1em;
	margin-bottom: .5em;
}

.agile_cat_grid ul.categories li a {
	color: #555;
	border: 1px solid #ccc;
	padding: .5em 1em;
	text-decoration: none;
	display: block;
}

.agile_cat_grid ul.categories li a:hover,
.agile_cat_grid_tags ul li a:hover {
	color: #fff;
	background-color: #d93025;
	border-color: #d93025;
}

.agile_cat_grid_tags ul li {
	display: inline-block;
	margin: 5px;
	font-size: 1em;
}

.agile_cat_grid_tags ul li a {
	padding: 5px 10px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #555;
	display: block;
}

.agileits_three_comment_grid {
	padding: 3em 0;
	border-bottom: 1px dashed #ccc;
	width: 100%;
}

.agileits_tom {
	float: left;
	border: 1px solid #ccc;
	text-align: center;
	padding: 1em 1.5em;
}

.agileits_tom i.fa {
	font-size: 3em;
	color: #3c3b3b;
}

.agileits_tom_right {
	float: left;
	width: 70%;
	margin-left: 3em;
}

.hardy {
	float: left;
}

.reply {
	float: left;
	margin-left: 10em;
	margin-top: .5em;
}

.reply a {
	padding: 8px 40px;
	background: #d93025;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
}

.reply a:hover {
	background: #212121;
}

.agileits_tom_right p.lorem {
	margin: 1em 0 0;
}

.agileits_three_comments h3,
.w3_leave_comment h3 {
	text-align: left;
}

.hardy h4 {
	font-size: 1.2em;
	color: #333;
}

.hardy p {
	color: #d93025;
	margin: .5em 0 0;
}

.agileits_three_comment_grid:nth-child(2) {
	margin: 4em 0 0;
	padding-top: 0 !important;
}

.agileits_three_comment_grid:last-child {
	border-bottom: none;
	padding-bottom: 0 !important;
}

.agileits_three_comment_grid1 {
	padding-left: 5em;
}

.w3_leave_comment {
	margin: 5em 0 0;
	width: 60%;
}

.w3_leave_comment form {
	margin: 3em 0 0;
}

.w3_leave_comment input[type="text"],
.w3_leave_comment input[type="email"],
.w3_leave_comment textarea {
	outline: none;
	background: #f5f5f5;
	border: 1px solid #dedede;
	padding: .8em 1em;
	font-size: 1em;
	color: #555;
	width: 100%;
}

.w3_leave_comment input[type="email"],
.w3_leave_comment textarea {
	margin: 1em 0;
}

.w3_leave_comment textarea {
	min-height: 200px;
	resize: none;
}

.w3_leave_comment input[type="submit"] {
	outline: none;
	background: #d93025;
	border: none;
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	width: 100%;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;
}

.w3_leave_comment input[type="submit"]:hover {
	background: #333;
}


/*-- //single --*/


/*-- responsive-design --*/

@media(max-width:1080px) {
	.banner-w3text h2 {
		font-size: 6em;
		letter-spacing: 10px;
	}
	.banner-top {
		padding: 2em 0;
	}
	.w3menu.navbar-left {
		margin-left: 3em;
	}
	.top-nav ul li {
		margin: 0 0 0 0.5em;
	}
	.top-nav ul li a {
		padding: .5em 0.8em;
	}
	h5.w3l-subtitle {
		font-size: 3em;
	}
	.w3welcome-text {
		padding: 5em 2em 2em 2em;
	}
	.w3welcome-img {
		min-height: 27em;
	}
	.welcome,
	.about,
	.team,
	.gallery,
	.contact,
	.services,
	.codes {
		padding: 4em 0;
	}
	.w3-agilesale h3.agileits-title {
		font-size: 3em;
	}
	h3.agileits-title {
		font-size: 3em;
		letter-spacing: 3px;
	}
	.subscribe form {
		width: 59%;
	}
	.about h4 {
		letter-spacing: 5px;
		font-size: 1.8em;
	}
	.w3ls-effect {
		height: 310px;
	}
	[class^='imghvr-'] .agile-figcaption,
	[class*=' imghvr-'] .agile-figcaption {
		padding: 3em;
	}
	.banner-top p {
		color: #fff;
		font-size: 0.9em;
		text-align: center;
		letter-spacing: 3px;
	}
	h3.w3ls_agile {
		line-height: 1.6em;
		letter-spacing: 33px;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 309px;
	}
	.back {
		padding: 7em 2em 0;
	}
	.back h4 {
		font-size: 1.1em;
		letter-spacing: 1px;
		margin: 0;
	}
	#services {
		padding-top: 4em;
	}
	.subscribe input[type="email"] {
		width: 74%;
	}
	.welcome-w3lsrow2,
	.markets-grids,
	.contact-agileinfo {
		margin-top: 2em;
	}
	.agile_inner_nav_w3ls {
		width: 94%;
		margin: 0 auto;
	}
}

@media(max-width:991px) {
	.banner-w3text h2 {
		font-size: 6em;
		letter-spacing: 10px;
	}
	.banner-w3text h6 {
		margin-bottom: 2em;
	}
	.banner-w3text {
		padding: 11em 0 10em;
	}
	.top-nav ul li a {
		letter-spacing: 2px;
		font-size: 1em;
		padding: 0.5em 1em;
	}
	.top-nav ul li {
		margin: 0 0 0 0.1em;
	}
	.social-icon a {
		font-size: 0.8em;
		width: 28px;
		height: 30px;
	}
	.social-icon a:before {
		height: 26px;
		width: 26px;
	}
	.w3menu.navbar-left {
		margin-left: 5em;
		margin-bottom: 0.3em;
	}
	h5.w3l-subtitle {
		font-size: 2.5em;
	}
	.w3welcome-left {
		padding: 0;
	}
	.services-w3grids {
		padding: .5em;
	}
	.services h6 {
		font-size: 1.3em;
	}
	.services h5 {
		font-size: 3em;
		margin-right: 1em;
	}
	.w3-agilesale h3.agileits-title {
		font-size: 2.5em;
		letter-spacing: 3px;
	}
	.w3-agilesale p a {
		font-size: 1.2em;
	}
	.subscribe form {
		width: 77%;
		margin: 2em auto;
	}
	.subscribe {
		padding: 3em 0;
	}
	.top-nav.bottom-w3lnav {
		margin-bottom: 1em;
		padding: 0 0 1em;
	}
	.about h4 {
		letter-spacing: 5px;
		font-size: 1.5em;
	}
	.about-w3left p {
		margin-top: 1em;
	}
	.about-w3right {
		margin-top: 2em;
	}
	.team-wthree-grids {
		padding: 0 0.5em;
	}
	.w3ls-effect {
		height: 250px;
	}
	.w3ls-effect .w3layouts-caption {
		padding: 15px;
	}
	.w3ls-effect .w3layouts-caption h4 {
		font-size: 1.1em;
	}
	.w3gallery-grids {
		padding: 0.5em;
	}
	[class^='imghvr-'] .agile-figcaption h4 {
		font-size: 1.5em;
	}
	[class^='imghvr-'] .agile-figcaption,
	[class*=' imghvr-'] .agile-figcaption {
		padding: 2.5em 1em;
	}
	h3.agileits-title {
		font-size: 3.2em;
		letter-spacing: 3px;
		margin-bottom: 0.8em;
	}
	.contact-left {
		margin-top: 2em;
	}
	.agileits-w3layouts-map iframe {
		min-height: 250px;
	}
	.w3ls_single_right {
		margin-top: 3em;
	}
	.wthree_recent ul {
		padding: 1em 0 0;
	}
	.agile_tags_cate {
		margin: 3em 0;
	}
	.agile_cat_grid ul {
		padding: 0em 0 0;
	}
	.agile_cat_grid:nth-child(2) {
		margin: 3em 0;
	}
	.agile_cat_grid_tags ul li {
		padding-top: 1em;
	}
	.agileits_three_comment_grid:nth-child(2) {
		margin: 3em 0 0;
	}
	.w3_leave_comment {
		margin: 3em 0 0;
		width: 80%;
	}
	.w3_leave_comment textarea {
		min-height: 150px;
	}
	.w3_leave_comment input[type="text"],
	.w3_leave_comment input[type="email"],
	.w3_leave_comment textarea {
		font-size: 0.9em;
	}
	.w3_leave_comment form {
		margin: 2em 0 0;
	}
	.w3menu.navbar-left {
		margin-left: 5em;
	}
	.banner-top p {
		font-size: 0.9em;
		letter-spacing: 1px;
	}
	.team-grid {
		float: left;
		width: 50%;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 453px;
	}
	.team-grid:nth-child(3),
	.team-grid:nth-child(4) {
		margin-top: 2em;
	}
	h3.w3ls_agile {
		line-height: 1.5em;
		letter-spacing: 30px;
		font-size: 1.25em;
	}
	#services {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.w3ls-markets-grid:nth-child(4),
	.w3ls-markets-grid:nth-child(5),
	.w3ls-markets-grid:nth-child(6) {
		margin: 0;
	}
	.w3ls-markets-grid {
		margin-bottom: 1em!important;
	}
	.welcome-w3lsrow2,
	.markets-grids,
	.contact-agileinfo {
		margin-top: 1.5em;
	}
	.w3welcome-text {
		padding: 4em 2em 2em 2em;
	}
	h3.agileits-title {
		font-size: 2.8em;
		letter-spacing: 3px;
		margin-bottom: 0.5em;
	}
	.back {
		padding: 10em 2em 0;
	}
	.agile_inner_nav_w3ls {
		width: 90%;
		margin: 0 auto;
	}
	.w3welcome-left {
		padding: 0;
		width: 100%;
	}
	.w3welcome-img {
		min-height: 23em;
		width: 100%;
	}
}

@media(max-width:800px) {
	.banner-w3text h6:after {
		margin: 1.5em auto 0;
	}
	.banner-w3text h2 {
		font-size: 5em;
	}
	.banner-w3text {
		padding: 7em 0 6em;
	}
	.w3welcome-img {
		min-height: 23em;
	}
	.w3welcome-text {
		padding: 3em 2em 3em 2em;
	}
	.w3welcome-grids {
		padding: 0 .5em;
	}
	.welcome-w3lsrow2 {
		margin-top: 3em;
	}
	.subscribe h4 {
		font-size: 2.5em;
	}
	.top_tabs_agile {
		margin-top: 0em;
	}
	.welcome,
	.about,
	.team,
	.gallery,
	.contact,
	.services,
	.codes {
		padding: 3em 0;
	}
	.banner-w3text p {
		font-size: 0.9em;
		letter-spacing: 10px;
		margin-bottom: 2em;
	}
	.w3menu.navbar-left {
		margin-left: 4em;
	}
}

@media(max-width:768px) {
	.welcome,
	.about,
	.team,
	.gallery,
	.contact,
	.services,
	.codes {
		padding: 3em 0;
	}
	.w3ls_single_left_grid1 {
		margin: 2em 0;
	}
	.w3ls_single_left_grid1_left h4 {
		margin-top: 0.3em;
	}
	.w3menu.navbar-left {
		margin-left: 1em;
	}
}

@media(max-width:767px) {
	.w3menu.navbar-left {
		margin-left: 0;
	}
	.top-nav ul li {
		margin: 0.5em 0;
		display: block;
	}
	div#bs-example-navbar-collapse-1 {
		position: absolute;
		width: 90%;
		background: rgba(0, 0, 0, 0.81);
		border: none;
		z-index: 9;
		padding: 0;
		margin: 0!important;
	}
	.w3ls-bnr-icons.social-icon {
		margin-top: 1em;
		text-align: center;
	}
	.top-nav ul li a {
		padding: 0.5em 2em;
	}
	.top-nav .open>.dropdown-menu {
		background: rgba(0, 0, 0, 0.81);
		text-align: center;
		margin-top: 1em;
		width: 100%;
	}
	.w3menu.navbar-left {
		margin-bottom: 0;
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	ul.nav.navbar {
		min-height: inherit;
		padding: 1em 0 0 0;
	}
	.w3ls-bnr-icons.social-icon {
		margin: 1em 0 2em;
		text-align: center;
	}
	.w3menu.navbar-left {
		margin-left: 0;
	}
	.navbar-default .navbar-toggle {
		border: none;
		background: #0c0c0c;
		border-radius: 0;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 11px 9px;
		margin-top: 0px;
		margin-right: 0;
		margin-bottom: 0;
		background: rgba(255, 255, 255, 0.17);
		border-radius: 0;
	}
	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background: #fff;
	}
}

@media(max-width:736px) {
	.services h5 {
		font-size: 3em;
		margin-right: 4em;
	}
	.w3-agilesale h3.agileits-title {
		font-size: 2.2em;
	}
	.subscribe input[type="email"] {
		width: 75%;
	}
	.top-nav.bottom-w3lnav li {
		display: inline-block;
		margin: .5em 0;
	}
	.top-nav.bottom-w3lnav li a {
		padding: 0.5em 1em;
	}
	.team-wthree-grids {
		padding: 0 1.5em;
	}
	.team-row.w3ls-team-row {
		margin: 0 4em;
	}
	.w3ls-effect {
		height: 360px;
	}
	.team-wthree-grids:nth-child(3),
	.team-wthree-grids:nth-child(4) {
		margin-top: 2em;
	}
	.team-wthree-grids {
		padding: 0 1em;
	}
	[class^='imghvr-'] .agile-figcaption,
	[class*=' imghvr-'] .agile-figcaption {
		padding: 4.5em 3em;
	}
	.w3gallery-grids {
		padding: 1em;
	}
	ul.agile_top_section li {
		width: 100%;
	}
	ul.agile_top_section li:nth-child(2) {
		margin: 0.5em 0 1em 0;
	}
	h3.w3ls_agile {
		line-height: 1.5em;
		letter-spacing: 24px;
		font-size: 1.25em;
	}
}

@media(max-width:667px) {
	.banner-w3text h6 {
		font-size: 0.9em;
		letter-spacing: 6px;
		margin-bottom: 1.5em;
	}
	.banner-w3text {
		padding: 3em 0 4em;
	}
	h5.w3l-subtitle {
		font-size: 2em;
	}
	.subscribe input[type="email"] {
		width: 70%;
	}
	.w3ls-effect {
		height: 330px;
	}
	[class^='imghvr-'] .agile-figcaption,
	[class*=' imghvr-'] .agile-figcaption {
		padding: 3.5em 2em;
	}
	.w3ls_single_left_grid_right h5 {
		font-size: 0.9em;
		letter-spacing: 4px;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 422px;
	}
	.w3_leave_comment {
		margin: 3em 0 0;
		width: 100%;
	}
}

@media(max-width:640px) {
	h3.w3ls_agile {
		line-height: 0.5em;
		letter-spacing: 20px;
		font-size: 1.2em;
	}
	.banner-w3text h2 {
		font-size: 4em;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 401px;
	}
	.subscribe input[type="email"] {
		width: 67%;
	}
}

@media(max-width:600px) {
	.banner-w3text h6 {
		margin-bottom: 1em;
	}
	.banner-w3text h6:after {
		margin: 1em auto 0;
	}
	.banner-top {
		padding: 1em 0;
	}
	.welcome-w3lsrow2 {
		margin-top: 2em;
	}
	.services h5 {
		margin-right: 3em;
		padding-bottom: 0.3em;
		margin-bottom: 0.3em;
	}
	.subscribe input[type="submit"] {
		padding: .8em 1.5em;
	}
	.subscribe h4 {
		font-size: 2em;
	}
	.about h4 {
		font-size: 1.3em;
	}
	.agileits_three_comment_grid1 {
		padding-left: 1em;
	}
	.reply {
		margin-left: 7em;
	}
	.reply a {
		padding: 7px 25px;
	}
	.w3l_admin {
		margin: 2em 0 0;
	}
	.w3l_admin p {
		padding-left: 2em;
		margin-bottom: 0em
	}
	.w3l_admin p i.fa.fa-quote-left {
		margin-left: -2em;
		margin-right: 1em;
	}
	.agile_tags_cate {
		padding: 2em 0;
		margin: 2em 0;
	}
	.agileits_tom_right p.lorem {
		margin: 0.5em 0 0;
	}
	.agileits_tom_right {
		width: 75%;
		margin-left: 2em;
	}
	.agileits_three_comment_grid {
		padding: 2em 0;
	}
	[class^='imghvr-'] .agile-figcaption,
	[class*=' imghvr-'] .agile-figcaption {
		padding: 2.5em 2em;
	}
	h3.icon-subheading {
		font-size: 20px;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 372px;
	}
}

@media(max-width:568px) {
	.subscribe form {
		width: 80%;
	}
	.team-row.w3ls-team-row {
		margin: 0 3em;
	}
	.w3ls-effect {
		height: 280px;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 348px;
	}
	.signin-form h3,
	h3.agileinfo_sign {
		font-size: 1.5em;
	}
}

@media(max-width:480px) {
	.welcome-w3lsrow2 {
		margin-top: 1em;
	}
	.w3welcome-grids img.img-responsive {
		border-width: 5px;
	}
	.services h6 {
		font-size: 1.1em;
	}
	.w3-agilesale h3.agileits-title {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.subscribe form {
		width: 92%;
	}
	.top-nav.bottom-w3lnav li {
		margin: 0;
	}
	.team-row.w3ls-team-row {
		margin: 0;
	}
	[class^='imghvr-'] .agile-figcaption,
	[class*=' imghvr-'] .agile-figcaption {
		padding: 1.5em 0.5em;
	}
	h3.agileits-title {
		font-size: 2.3em;
	}
	.w3welcome-img {
		min-height: 20em;
	}
	.w3ls_single_left_grid_right ul li {
		margin-right: 1em;
	}
	.wthree_recent h4,
	.agileits_three_comments h3,
	.w3_leave_comment h3 {
		font-size: 1.8em;
	}
	.agileits_tom i.fa {
		font-size: 4em;
	}
	.agileits_tom_right {
		width: 72%;
		margin-left: 1em;
	}
	h3.w3ls_agile {
		line-height: 0.5em;
		letter-spacing: 15px;
		font-size: 1.1em;
	}
	.banner-w3text p {
		font-size: 0.8em;
		letter-spacing: 6px;
		margin-bottom: 2em;
	}
	.back {
		padding: 8em 2em 0;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 281px;
	}
}

@media(max-width:440px) {
	.team-grid:nth-child(3),
	.team-grid:nth-child(4) {
		margin-top: 0;
	}
	.team-grid {
		float: left;
		width: 70%;
		margin: 2% 15%!important;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 370px;
	}
	.banner-w3text h2 {
		font-size: 3.3em;
	}
	.subscribe input[type="email"] {
		width: 63%;
	}
	.banner-w3text {
		padding: 2em 0 4em;
	}
	.agileits_tom i.fa {
		font-size: 2em;
	}
	.hardy h4 {
		font-size: 1em;
	}
	h3.agileits-title {
		font-size: 2em;
		letter-spacing: 1px;
	}
}

@media(max-width:414px) {
	.banner-w3text h2 {
		letter-spacing: 3px;
		font-size: 3em;
	}
	.top-nav {
		padding: 0.5em 0;
	}
	.w3welcome-grids {
		padding: 0 .2em;
	}
	.services h5 {
		margin-right: 2em;
	}
	.services h6 {
		font-size: 1em;
	}
	.w3-agilesale h3.agileits-title {
		font-size: 1.8em;
		letter-spacing: 0px;
	}
	.welcome,
	.about,
	.team,
	.gallery,
	.contact,
	.services,
	.codes {
		padding: 2em 0;
	}
	.subscribe form {
		width: 100%;
	}
	.subscribe input[type="submit"] {
		padding: .8em 1.2em;
	}
	.copy-w3right p {
		letter-spacing: 1px;
	}
	h5.w3l-subtitle {
		font-size: 1.6em;
	}
	.team-wthree-grids {
		padding: 0 0.5em;
	}
	.team-wthree-grids:nth-child(3),
	.team-wthree-grids:nth-child(4) {
		margin-top: 1em;
	}
	.w3ls-effect {
		height: 255px;
	}
	.w3ls_single_left {
		padding: 0;
	}
	.w3ls_single_left_grid_right ul li span {
		padding-right: 0.5em;
	}
	.w3ls_single_left_grid_right ul li {
		margin-right: 1em;
		font-size: 13px;
	}
	.w3l_admin {
		padding: 1em;
	}
	.w3ls_single_right {
		padding: 0;
	}
	.wthree_recent ul li span {
		font-size: 12px;
	}
	.wthree_recent h4,
	.agileits_three_comments h3,
	.w3_leave_comment h3 {
		font-size: 1.4em;
	}
	.agileits_tom {
		float: none;
		display: inline-block;
	}
	.agileits_tom i.fa {
		font-size: 3em;
	}
	.agileits_tom_right {
		width: 100%;
		margin: 1.5em 0 0;
		float: none;
	}
	p {
		font-size: 0.9em;
	}
	.w3_leave_comment {
		margin: 2em 0 0;
		width: 100%;
	}
	.w3_leave_comment form {
		margin: 1em 0 0;
	}
	.button {
		margin-top: 1em;
		padding: 0.6em 1.2em;
		font-size: 0.9em;
	}
	.about-w3right,
	.about-w3left {
		padding: 0;
	}
	.about h4 {
		font-size: 1.2em;
		letter-spacing: 3px;
	}
	.w3gallery-grids {
		padding: 0.5em 0;
		float: none;
		width: 100%;
	}
	[class^='imghvr-'] .agile-figcaption,
	[class*=' imghvr-'] .agile-figcaption {
		padding: 5em 4.5em;
	}
	.contact-agileinfo input[type="text"] {
		font-size: 0.9em;
	}
	.contact-right,
	.contact-left {
		padding: 0;
	}
	.contact-agileinfo input[type="submit"] {
		font-size: 0.9em;
	}
	.agileits-w3layouts-map iframe {
		min-height: 200px;
	}
	.w3welcome-img {
		min-height: 17em;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 341px;
	}
	h3.w3ls_agile {
		line-height: 0.5em;
		letter-spacing: 12px;
		font-size: 1.1em;
	}
	
}

@media(max-width:384px) {
	.services h6 {
		font-size: 0.9em;
	}
	.w3-agilesale h3.agileits-title {
		font-size: 1.5em;
	}
	.subscribe input[type="email"] {
		font-size: 0.9em;
	}
	.subscribe input[type="submit"] {
		font-size: 0.9em;
	}
	.top-nav.bottom-w3lnav li a {
		font-size: .9em;
	}
	.w3ls-effect {
		height: 232px;
	}
	.w3ls_single_left_grid_right h3 {
		font-size: 1.3em;
	}
	.w3ls_single_left_grid1 p {
		margin: 1em 0;
	}
	.agile_cat_grid ul.categories li {
		font-size: 0.9em;
	}
	.agile_cat_grid {
		padding: 0;
	}
	.agile_cat_grid_tags ul li {
		padding-top: 0.5em;
		font-size: 0.9em;
	}
	.agile_cat_grid:nth-child(2) {
		margin: 2em 0;
	}
	.agile_cat_grid h4 {
		font-size: 1.6em;
	}
	.agileits_three_comment_grid:nth-child(2) {
		margin: 1.5em 0 0;
	}
	.reply {
		margin-left: 4em;
	}
	.reply a {
		padding: 7px 20px;
		font-size: 0.9em;
	}
	.agileits_tom i.fa {
		font-size: 2em;
	}
	.agileits_tom {
		padding: 0.8em 1.2em;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 310px;
	}
	.services-right-agileits h4 {
		font-size: 1em;
	}
	.subscribe h4 {
		font-size: 1.7em;
	}
	.w3gallery-grids {
		padding: 0em 0;
	}
	.banner-w3text h2 {
		letter-spacing:2px;
		font-size: 2.2em;
	}
	.w3llogo h1 a {
		letter-spacing: 1px;
		font-size: 0.8em;
	}
}

@media(max-width:375px) {
	.subscribe input[type="email"] {
		width: 66%;
	}
	.top-nav ul li a {
		font-size: 0.9em;
	}
	.top-nav ul li {
		margin: 0.8em 0;
	}
	.about h4 {
		font-size: 1em;
	}
	.w3ls-effect .wthree-icon {
		padding: 10px 8px;
	}
	.team-grid {
		float: left;
		width: 73%;
		margin: 2% 13%!important;
	}
	.flip-container,
	.back {
		width: 100%;
		height: 309px;
	}
	.w3llogo h1 a {
		letter-spacing: 1px;
	}
	.icon-right h5 {
		font-size: 1.2em;
	}
	h3.agileits-title {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	.w3ls_single_left_grid_right h3 {
		font-size: 1.1em;
	}
	.agile_cat_grid h4 {
		font-size: 1.3em;
	}
	.welcome-w3lsrow2,
	.markets-grids,
	.contact-agileinfo {
		margin-top: 1.2em;
	}
}

@media(max-width:320px) {
	.w3ls-effect {
		height: 310px;
	}
	.team-wthree-grids {
		padding: 0 2em;
		float: none;
		width: 100%;
	}
	.team-wthree-grids:nth-child(2) {
		margin-top: 1em;
	}
	.w3welcome-img {
		min-height: 13em;
	}
	.services h5 {
		margin-right: 1em;
		font-size: 2em;
	}
	.w3-agilesale h3.agileits-title {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.subscribe input[type="email"] {
		width: 57%;
	}
	.top-nav.bottom-w3lnav li a {
		letter-spacing: 1px;
	}
	.banner-w3text h6 {
		font-size: 0.7em;
		letter-spacing: 2px;
	}
	.banner-w3text {
		padding: 1em 0 2em;
	}
	.subscribe h4 {
		font-size: 1.5em;
	}
	.subscribe form {
		margin: 1.5em auto;
	}
	button.navbar-toggle {
		margin: 0.2em 1.5em;
		font-size: 1.3em;
	}
	.w3ls_single_left_grid1_right {
		margin-left: 0em;
	}
	.w3_leave_comment textarea {
		min-height: 100px;
	}
	[class^='imghvr-'] .agile-figcaption,
	[class*=' imghvr-'] .agile-figcaption {
		padding: 3.5em 2.5em;
	}
	.banner-w3text p {
		font-size: 0.8em;
		letter-spacing: 3px;
		margin-bottom: 1em;
	}
	h3.w3ls_agile {
		line-height: 0.5em;
		letter-spacing: 9px;
		font-size: 1.1em;
	}
	.team-grid {
		float: left;
		width: 86%;
		margin: 2% 6%!important;
	}
}


/*-- //responsive-design --*/